@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer base {
  :root {
    --color-primary: 0deg 100% 70%;
    --color-secondary: 0deg 93% 84%;
    --color-tertiary: 23deg 100% 93%;
  }
}
