@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

svg {
  fill: inherit;
  width: inherit;
  height: inherit;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

@layer base {
  :root {
    --color-primary: #ff6666;
    --color-secondary: #fcb0b0;
    --color-tertiary: #ffe9db;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }
}
